.card {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

:root {
  --skyblue: #01b3bf;
  --darkskyblue: #03767e;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  /* background: var(--platinum); */
  /* margin: 50px 0; */
}

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* .container_ {
  margin-top: 30px;
  max-width: 65vw;
  padding: 0 15px;
  margin: 0 auto;
} */

.container_ h2 {
  margin-top: 20px;
  font-size: 32px;
  margin-bottom: 0.3em;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.tag_bid {
  background-color: yellow;
  margin-top: 15px;
  padding-left: 5px;
  width: 70px;
  color: black !important;
  /* border-radius: 12px; */
}

.tag_bid:hover {
  color: black !important;
}

.card_padding {
  padding: 20px;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: var(--white);
  background: var(--skyblue);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  height: 100px;
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  display: flex;
  margin-top: auto;
}

.card .card-link {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--skyblue);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkskyblue);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkskyblue);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 2) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}
