* {
  margin: 0;
}

body {
  background-color: #b8f4fc3b;
  height: 100vh;
}

.bg {
  background-color: #b8f4fc3b;
}

.home__container {
  height: 100vh;
}

.section__header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.section__header h5 {
  font-family: "Montez";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  color: #00c2ff;
}

.menu__container {
  padding-top: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.search__container {
  width: 237px;
  height: 27.58px;
  background: #99dbef;
  border-radius: 33px;
}

.search__container input {
  margin: 8px;
  outline: none;
  border: transparent;
  background: #99dbef;
}

.section__main {
  height: 100%;
  width: 100vw;
  display: flex;
  background-color: transparent;
  align-items: center;
}

.main__left {
  padding: 80px;
  margin: 40px;
}

.title__container h1 {
  position: fixed;
  left: 100px;
  top: 200px;

  font-family: "MonteCarlo";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 128px;

  color: #00c2ff;
}

.button__container > button:first-child {
  width: 150px;
  height: 37px;
  border: 3px solid #00c2ff;
  background: #00c2ff;
  border-radius: 36px;

  font-family: "Monda";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #ffffff;
}

.button__container > button:last-child {
  box-sizing: border-box;

  width: 150px;
  height: 37px;

  border: 3px solid #00c2ff;
  border-radius: 36px;

  font-family: "Monda";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #00c2ff;
}

.section__ellipse {
  position: fixed;
  height: 1260px;
  width: 1260px;
  background-color: #00c2ff33;
  border-radius: 50%;
  left: 700px;
  top: 100px;
}

.paragraph__container {
  height: 200px;
  width: 300px;
  position: fixed;
  bottom: 50px;
  right: 100px;
}

.paragraph__container--lastLine {
  display: flex;
  justify-content: space-evenly;
}

.paragraph__container--lastLine h1 {
  font-family: "Mina";
  font-style: normal;
  color: #00a3ff;
  text-shadow: -1px 4px 8px rgba(0, 0, 0, 0.25);
}

.paragraph__container p {
  font-family: "Mina";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #00a3ff;
  text-shadow: -1px 4px 8px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

.first {
  color: antiquewhite;
}

.second {
  color: #00a3ff;
}
